# yaml-language-server: $schema=https://spec.openapis.org/oas/3.1/schema/2022-10-07
openapi: 3.1.0
info:
  title: "⚡ HyperCore API"
  version: "1.0"
  description: |
    HyperCore read and historical methods for private preview.
servers:
  - url: https://api.g.alchemy.com/hypercore/v1
    description: HyperCore REST base URL.
tags:
  - name: Account state
    description: User account and portfolio reads.
  - name: Orders and fills
    description: Order and fill reads.
  - name: Ledger and funding
    description: Ledger and funding reads.
  - name: Market data and snapshots
    description: Market-data reads and state snapshots.
  - name: Asset context
    description: Asset metadata and current context reads.
  - name: Metadata
    description: Perpetual and spot metadata reads.
  - name: Token deployment
    description: Token and market deployment reads.
  - name: Vaults
    description: Vault discovery and account-equity reads.
  - name: Staking, delegation, and validators
    description: Delegation and validator reads.
  - name: Roles, agents, and limits
    description: Roles, agents, fee approvals, and rate-limit reads.
  - name: Outcome markets
    description: Outcome-market metadata and settlement reads.
x-info-operation: &infoOperation
  parameters:
    - "$ref": "#/components/parameters/apiKey"
  requestBody:
    required: true
    content:
      application/json:
        schema:
          "$ref": "#/components/schemas/InfoTypeRequest"
  responses:
    "200":
      "$ref": "#/components/responses/InfoResponse"
    "400":
      description: Invalid request.
paths:
  "/{apiKey}/info":
    post:
      operationId: get-info
      summary: Execute a native-compatible HyperCore read
      description: |
        Execute a native-compatible HyperCore read selected by the required type discriminator. The remaining native methods will be documented as the service is finalized.
      parameters:
        - "$ref": "#/components/parameters/apiKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/InfoRequest"
            examples:
              userFills:
                value:
                  type: userFills
                  user: "0x1111111111111111111111111111111111111111"
              userFillsByTime:
                value:
                  type: userFillsByTime
                  user: "0x1111111111111111111111111111111111111111"
                  startTime: 1780000000000
                  endTime: 1780086400000
      responses:
        "200":
          description: Successful response. The currently modeled shapes are selected by the requested type.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/InfoResponse"
  "/{apiKey}/user-fills":
    post:
      tags: [Orders and fills]
      operationId: get-user-fills
      summary: Get user fills
      description: |
        Retrieve fills associated with a user.
      parameters:
        - "$ref": "#/components/parameters/apiKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/UserFillsRequest"
            examples:
              userFills:
                value:
                  type: userFills
                  user: "0x1111111111111111111111111111111111111111"
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/UserFillsResponse"
              examples:
                default:
                  "$ref": "#/components/examples/UserFillsResponse"
  "/{apiKey}/user-fills-by-time":
    post:
      tags: [Orders and fills]
      operationId: get-user-fills-by-time
      summary: Get user fills by time
      description: |
        Retrieve fills associated with a user over a time range.
      parameters:
        - "$ref": "#/components/parameters/apiKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/UserFillsByTimeRequest"
            examples:
              userFillsByTime:
                value:
                  type: userFillsByTime
                  user: "0x1111111111111111111111111111111111111111"
                  startTime: 1780000000000
                  endTime: 1780086400000
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/UserFillsByTimeResponse"
              examples:
                default:
                  "$ref": "#/components/examples/UserFillsByTimeResponse"
  "/{apiKey}/clearinghouse-state":
    post:
      tags: [Account state]
      operationId: get-clearinghouse-state
      summary: Get clearinghouse state
      description: |
        Retrieve clearinghouse state associated with a user.
      parameters:
        - "$ref": "#/components/parameters/apiKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/ClearinghouseStateRequest"
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ClearinghouseStateResponse"
              examples:
                default:
                  "$ref": "#/components/examples/ClearinghouseStateResponse"
  "/{apiKey}/historical-orders":
    post:
      tags: [Orders and fills]
      operationId: get-historical-orders
      summary: Get historical orders
      description: |
        Retrieve historical orders associated with a user.
      parameters:
        - "$ref": "#/components/parameters/apiKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/HistoricalOrdersRequest"
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/HistoricalOrdersResponse"
              examples:
                default:
                  "$ref": "#/components/examples/HistoricalOrdersResponse"
  "/{apiKey}/portfolio-state":
    post:
      tags: [Account state]
      operationId: get-portfolio-state
      summary: Get normalized portfolio state
      description: |
        Retrieve a normalized portfolio-state composite for a user.
      parameters:
        - "$ref": "#/components/parameters/apiKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/UserRequest"
            examples:
              default:
                value:
                  user: "0x1111111111111111111111111111111111111111"
                  include: [positions, balances, margin]
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/PortfolioState"
              examples:
                default:
                  "$ref": "#/components/examples/PortfolioStateResponse"
  "/{apiKey}/extra-agents":
    post:
      tags: [Roles, agents, and limits]
      operationId: get-extra-agents
      summary: Get agent and API-wallet state
      description: |
        Retrieve agent and API-wallet information associated with a user.
      parameters:
        - "$ref": "#/components/parameters/apiKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/UserRequest"
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ExtraAgentsResponse"
              examples:
                default:
                  "$ref": "#/components/examples/ExtraAgentsResponse"
  "/{apiKey}/l2-book-diff-snapshot":
    post:
      tags: [Market data and snapshots]
      operationId: get-l2-book-diff-snapshot
      summary: Get an L2 book snapshot for diff-stream bootstrap
      description: |
        Retrieve aggregated L2 books at a common block height with each market's diff sequence.
      parameters:
        - "$ref": "#/components/parameters/apiKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/L2BookDiffSnapshotRequest"
            examples:
              default:
                value:
                  coins: [BTC, ETH]
                  nSigFigs: 5
                  mantissa: 2
                  nLevels: 20
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/L2BookDiffSnapshotResponse"
              examples:
                default:
                  "$ref": "#/components/examples/L2BookDiffSnapshotResponse"
  "/{apiKey}/open-orders":
    post:
      tags: [Orders and fills]
      operationId: get-open-orders
      summary: Retrieve a user's open orders
      <<: *infoOperation
  "/{apiKey}/frontend-open-orders":
    post:
      tags: [Orders and fills]
      operationId: get-frontend-open-orders
      summary: Retrieve a user's open orders with additional frontend info
      <<: *infoOperation
  "/{apiKey}/user-funding":
    post:
      tags: [Ledger and funding]
      operationId: get-user-funding
      summary: Retrieve a user's funding payments
      <<: *infoOperation
  "/{apiKey}/user-non-funding-ledger-updates":
    post:
      tags: [Ledger and funding]
      operationId: get-user-non-funding-ledger-updates
      summary: Retrieve a user's non-funding ledger updates
      <<: *infoOperation
  "/{apiKey}/spot-clearinghouse-state":
    post:
      tags: [Account state]
      operationId: get-spot-clearinghouse-state
      summary: Retrieve a user's spot clearinghouse state
      <<: *infoOperation
  "/{apiKey}/sub-accounts":
    post:
      tags: [Account state]
      operationId: get-sub-accounts
      summary: Retrieve a user's subaccounts
      <<: *infoOperation
  "/{apiKey}/user-dex-abstraction":
    post:
      tags: [Account state]
      operationId: get-user-dex-abstraction
      summary: Query a user's HIP-3 DEX abstraction state
      <<: *infoOperation
  "/{apiKey}/all-mids":
    post:
      tags: [Market data and snapshots]
      operationId: get-all-mids
      summary: Retrieve mids for all coins
      <<: *infoOperation
  "/{apiKey}/candle-snapshot":
    post:
      tags: [Market data and snapshots]
      operationId: get-candle-snapshot
      summary: Retrieve a candle snapshot
      <<: *infoOperation
  "/{apiKey}/l4-book-snapshot":
    post:
      tags: [Market data and snapshots]
      operationId: get-l4-book-snapshot
      summary: Retrieve an L4 book snapshot
      description: Retrieve the full onchain order information derived from L4 snapshots.
      <<: *infoOperation
  "/{apiKey}/trigger-order-snapshot":
    post:
      tags: [Market data and snapshots]
      operationId: get-trigger-order-snapshot
      summary: Retrieve a trigger-order snapshot
      description: Retrieve trigger orders derived from L4 snapshots.
      <<: *infoOperation
  "/{apiKey}/meta":
    post:
      tags: [Metadata]
      operationId: get-meta
      summary: Retrieve perpetual metadata
      <<: *infoOperation
  "/{apiKey}/spot-meta":
    post:
      tags: [Metadata]
      operationId: get-spot-meta
      summary: Retrieve spot metadata
      <<: *infoOperation
  "/{apiKey}/meta-and-asset-ctxs":
    post:
      tags: [Asset context]
      operationId: get-meta-and-asset-ctxs
      summary: Retrieve perpetual metadata and asset contexts
      <<: *infoOperation
  "/{apiKey}/spot-meta-and-asset-ctxs":
    post:
      tags: [Asset context]
      operationId: get-spot-meta-and-asset-ctxs
      summary: Retrieve spot metadata and asset contexts
      <<: *infoOperation
  "/{apiKey}/active-asset-data":
    post:
      tags: [Asset context]
      operationId: get-active-asset-data
      summary: Retrieve active asset data
      <<: *infoOperation
  "/{apiKey}/predicted-fundings":
    post:
      tags: [Asset context]
      operationId: get-predicted-fundings
      summary: Retrieve predicted fundings
      <<: *infoOperation
  "/{apiKey}/spot-deploy-state":
    post:
      tags: [Token deployment]
      operationId: get-spot-deploy-state
      summary: Retrieve spot deployment state
      <<: *infoOperation
  "/{apiKey}/perp-deploy-auction-status":
    post:
      tags: [Token deployment]
      operationId: get-perp-deploy-auction-status
      summary: Retrieve perpetual deployment auction status
      <<: *infoOperation
  "/{apiKey}/spot-pair-deploy-auction-status":
    post:
      tags: [Token deployment]
      operationId: get-spot-pair-deploy-auction-status
      summary: Retrieve spot-pair deployment auction status
      <<: *infoOperation
  "/{apiKey}/vault-summaries":
    post:
      tags: [Vaults]
      operationId: get-vault-summaries
      summary: Retrieve vault summaries
      <<: *infoOperation
  "/{apiKey}/vault-details":
    post:
      tags: [Vaults]
      operationId: get-vault-details
      summary: Retrieve vault details
      <<: *infoOperation
  "/{apiKey}/leading-vaults":
    post:
      tags: [Vaults]
      operationId: get-leading-vaults
      summary: Retrieve leading vaults
      <<: *infoOperation
  "/{apiKey}/user-vault-equities":
    post:
      tags: [Vaults]
      operationId: get-user-vault-equities
      summary: Retrieve a user's vault deposits
      <<: *infoOperation
  "/{apiKey}/delegations":
    post:
      tags: [Staking, delegation, and validators]
      operationId: get-delegations
      summary: Query a user's staking delegations
      <<: *infoOperation
  "/{apiKey}/delegator-summary":
    post:
      tags: [Staking, delegation, and validators]
      operationId: get-delegator-summary
      summary: Query a user's staking summary
      <<: *infoOperation
  "/{apiKey}/delegator-history":
    post:
      tags: [Staking, delegation, and validators]
      operationId: get-delegator-history
      summary: Retrieve delegation history
      <<: *infoOperation
  "/{apiKey}/delegator-rewards":
    post:
      tags: [Staking, delegation, and validators]
      operationId: get-delegator-rewards
      summary: Retrieve delegation rewards
      <<: *infoOperation
  "/{apiKey}/validator-l1-votes":
    post:
      tags: [Staking, delegation, and validators]
      operationId: get-validator-l1-votes
      summary: Retrieve validator L1 votes
      <<: *infoOperation
  "/{apiKey}/user-role":
    post:
      tags: [Roles, agents, and limits]
      operationId: get-user-role
      summary: Query a user's role
      <<: *infoOperation
  "/{apiKey}/max-builder-fee":
    post:
      tags: [Roles, agents, and limits]
      operationId: get-max-builder-fee
      summary: Check builder fee approval
      <<: *infoOperation
  "/{apiKey}/user-rate-limit":
    post:
      tags: [Roles, agents, and limits]
      operationId: get-user-rate-limit
      summary: Query user rate limits
      <<: *infoOperation
  "/{apiKey}/user-fees":
    post:
      tags: [Roles, agents, and limits]
      operationId: get-user-fees
      summary: Query a user's fees
      <<: *infoOperation
  "/{apiKey}/outcome-meta":
    post:
      tags: [Outcome markets]
      operationId: get-outcome-meta
      summary: Retrieve outcome-market metadata
      <<: *infoOperation
  "/{apiKey}/settled-outcome":
    post:
      tags: [Outcome markets]
      operationId: get-settled-outcome
      summary: Retrieve a settled outcome
      <<: *infoOperation
  "/{apiKey}/settled-outcomes":
    post:
      tags: [Outcome markets]
      operationId: get-settled-outcomes
      summary: Retrieve settled outcomes
      <<: *infoOperation
  "/{apiKey}/outcome-templates":
    post:
      tags: [Outcome markets]
      operationId: get-outcome-templates
      summary: Retrieve outcome templates
      <<: *infoOperation
components:
  parameters:
    apiKey:
      name: apiKey
      in: path
      required: true
      schema:
        type: string
  schemas:
    InfoTypeRequest:
      type: object
      required: [type]
      properties:
        type:
          type: string
          description: Native Hyperliquid info request discriminator.
        user:
          "$ref": "#/components/schemas/Address"
        dex:
          type: string
          description: Perpetual DEX name. The empty string selects the first perpetual DEX.
        builder:
          "$ref": "#/components/schemas/Address"
        coin:
          type: string
        startTime:
          "$ref": "#/components/schemas/TimestampMs"
        endTime:
          "$ref": "#/components/schemas/TimestampMs"
        interval:
          type: string
        vaultAddress:
          "$ref": "#/components/schemas/Address"
        outcome:
          type: integer
        includeUsers:
          type: boolean
        includeTriggerOrders:
          type: boolean
      additionalProperties: true
      description: The fields required with `type` are defined by the selected native read.
    NativeInfoResponse: {}
    Address:
      type: string
      pattern: "^0x[a-fA-F0-9]{40}$"
      description: EVM-style account address.
    Cursor:
      type: string
      description: Opaque cursor. Store and return it unmodified; its format may change.
    TimestampMs:
      type: integer
      format: int64
      description: Unix timestamp in milliseconds.
    UserRequest:
      type: object
      required:
        - user
      properties:
        user:
          "$ref": "#/components/schemas/Address"
        startTime:
          "$ref": "#/components/schemas/TimestampMs"
        endTime:
          "$ref": "#/components/schemas/TimestampMs"
        cursor:
          "$ref": "#/components/schemas/Cursor"
        include:
          type: array
          items:
            type: string
    InfoRequest:
      oneOf:
        - "$ref": "#/components/schemas/UserFillsRequest"
        - "$ref": "#/components/schemas/UserFillsByTimeRequest"
        - "$ref": "#/components/schemas/HistoricalOrdersRequest"
        - "$ref": "#/components/schemas/UserFundingRequest"
        - "$ref": "#/components/schemas/UserLedgerRequest"
        - "$ref": "#/components/schemas/DelegationsRequest"
        - "$ref": "#/components/schemas/DelegatorHistoryRequest"
        - "$ref": "#/components/schemas/ClearinghouseStateRequest"
        - "$ref": "#/components/schemas/SpotClearinghouseStateRequest"
        - "$ref": "#/components/schemas/FrontendOpenOrdersRequest"
      discriminator:
        propertyName: type
        mapping:
          userFills: "#/components/schemas/UserFillsRequest"
          userFillsByTime: "#/components/schemas/UserFillsByTimeRequest"
          historicalOrders: "#/components/schemas/HistoricalOrdersRequest"
          userFunding: "#/components/schemas/UserFundingRequest"
          userNonFundingLedgerUpdates: "#/components/schemas/UserLedgerRequest"
          delegations: "#/components/schemas/DelegationsRequest"
          delegatorHistory: "#/components/schemas/DelegatorHistoryRequest"
          clearinghouseState: "#/components/schemas/ClearinghouseStateRequest"
          spotClearinghouseState: "#/components/schemas/SpotClearinghouseStateRequest"
          frontendOpenOrders: "#/components/schemas/FrontendOpenOrdersRequest"
    InfoResponse:
      oneOf:
        - "$ref": "#/components/schemas/UserFillsResponse"
        - "$ref": "#/components/schemas/UserFillsByTimeResponse"
        - "$ref": "#/components/schemas/ClearinghouseStateResponse"
        - "$ref": "#/components/schemas/HistoricalOrdersResponse"
    UserFillsRequest:
      allOf:
        - "$ref": "#/components/schemas/UserRequest"
        - type: object
          required:
            - type
          properties:
            type:
              const: userFills
    UserFillsByTimeRequest:
      allOf:
        - "$ref": "#/components/schemas/UserRequest"
        - type: object
          required:
            - type
            - startTime
            - endTime
          properties:
            type:
              const: userFillsByTime
    HistoricalOrdersRequest:
      allOf:
        - "$ref": "#/components/schemas/UserRequest"
        - type: object
          required:
            - type
          properties:
            type:
              const: historicalOrders
    UserFundingRequest:
      allOf:
        - "$ref": "#/components/schemas/UserRequest"
        - type: object
          required:
            - type
          properties:
            type:
              const: userFunding
    UserLedgerRequest:
      allOf:
        - "$ref": "#/components/schemas/UserRequest"
        - type: object
          required:
            - type
          properties:
            type:
              const: userNonFundingLedgerUpdates
    DelegationsRequest:
      allOf:
        - "$ref": "#/components/schemas/UserRequest"
        - type: object
          required:
            - type
          properties:
            type:
              const: delegations
    DelegatorHistoryRequest:
      allOf:
        - "$ref": "#/components/schemas/UserRequest"
        - type: object
          required:
            - type
          properties:
            type:
              const: delegatorHistory
    ClearinghouseStateRequest:
      allOf:
        - "$ref": "#/components/schemas/UserRequest"
        - type: object
          required:
            - type
          properties:
            type:
              const: clearinghouseState
    SpotClearinghouseStateRequest:
      allOf:
        - "$ref": "#/components/schemas/UserRequest"
        - type: object
          required:
            - type
          properties:
            type:
              const: spotClearinghouseState
    FrontendOpenOrdersRequest:
      allOf:
        - "$ref": "#/components/schemas/UserRequest"
        - type: object
          required:
            - type
          properties:
            type:
              const: frontendOpenOrders
    Fill:
      type: object
      properties:
        coin:
          type: string
        px:
          type: string
        sz:
          type: string
        side:
          type: string
          enum: [A, B]
        time:
          "$ref": "#/components/schemas/TimestampMs"
        tid:
          type: integer
        oid:
          type: integer
        closedPnl:
          type: string
        fee:
          type: string
        feeToken:
          type: string
    UserFillsResponse:
      type: object
      properties:
        fills:
          type: array
          items:
            "$ref": "#/components/schemas/Fill"
    UserFillsByTimeResponse:
      type: object
      properties:
        fills:
          type: array
          items:
            "$ref": "#/components/schemas/Fill"
        nextCursor:
          type: string
    HistoricalOrder:
      type: object
      properties:
        orderId:
          type: string
        coin:
          type: string
        side:
          type: string
          enum: [A, B]
        limitPx:
          type: string
        sz:
          type: string
        status:
          type: string
        timestamp:
          "$ref": "#/components/schemas/TimestampMs"
    HistoricalOrdersResponse:
      type: object
      properties:
        orders:
          type: array
          items:
            "$ref": "#/components/schemas/HistoricalOrder"
    ClearinghouseStateResponse:
      type: object
      properties:
        marginSummary:
          type: object
          properties:
            accountValue:
              type: string
            totalMarginUsed:
              type: string
        assetPositions:
          type: array
          items:
            type: object
            properties:
              position:
                type: object
                properties:
                  coin:
                    type: string
                  szi:
                    type: string
                  entryPx:
                    type: string
                  unrealizedPnl:
                    type: string
    PortfolioState:
      type: object
      properties:
        user:
          "$ref": "#/components/schemas/Address"
        asOf:
          "$ref": "#/components/schemas/TimestampMs"
        perpetual:
          type: object
          additionalProperties: true
        spot:
          type: object
          additionalProperties: true
        margin:
          type: object
          additionalProperties: true
    Agent:
      type: object
      properties:
        address:
          "$ref": "#/components/schemas/Address"
        name:
          type: string
        permissions:
          type: array
          items:
            type: string
    ExtraAgentsResponse:
      type: object
      properties:
        user:
          "$ref": "#/components/schemas/Address"
        agents:
          type: array
          items:
            "$ref": "#/components/schemas/Agent"
    L2BookDiffSnapshotRequest:
      type: object
      required:
        - coins
      properties:
        coins:
          type: array
          minItems: 1
          items:
            type: string
          description: Markets to include in the snapshot.
        nSigFigs:
          type: integer
          enum: [2, 3, 4, 5]
          description: Significant-figure aggregation for price levels.
        mantissa:
          type: integer
          enum: [2, 5]
          description: Mantissa step. Valid only when nSigFigs is 5.
        nLevels:
          type: integer
          enum: [1, 10, 20, 50]
          description: Levels per side. Defaults to 20.
    L2BookLevel:
      type: object
      required:
        - px
        - sz
        - n
      properties:
        px:
          type: string
          description: Price as a decimal string.
        sz:
          type: string
          description: Total size at the price level.
        n:
          type: integer
          description: Number of orders at the price level.
    L2BookDiffSnapshotBook:
      type: object
      required:
        - coin
        - time
        - levels
        - seq
      properties:
        coin:
          type: string
          description: Market symbol.
        time:
          "$ref": "#/components/schemas/TimestampMs"
        levels:
          type: array
          minItems: 2
          maxItems: 2
          items:
            type: array
            items:
              "$ref": "#/components/schemas/L2BookLevel"
          description: Two-element tuple of bids and asks.
        seq:
          type: integer
          minimum: 0
          description: Per-market l2BookDiff sequence at the snapshot height.
    L2BookDiffSnapshotResponse:
      type: object
      required:
        - height
        - books
      properties:
        height:
          type: integer
          description: Block height reflected by every returned book.
        books:
          type: array
          items:
            "$ref": "#/components/schemas/L2BookDiffSnapshotBook"
  responses:
    InfoResponse:
      description: Successful native-compatible response.
      content:
        application/json:
          schema:
            "$ref": "#/components/schemas/NativeInfoResponse"
          examples:
            openOrders:
              value:
                - coin: BTC
                  limitPx: "29792.0"
                  oid: 91490942
                  side: A
                  sz: "0.0"
                  timestamp: 1681247412573
            frontendOpenOrders:
              value:
                - coin: BTC
                  isPositionTpsl: false
                  isTrigger: false
                  limitPx: "29792.0"
                  oid: 91490942
                  orderType: Limit
                  origSz: "5.0"
                  reduceOnly: false
                  side: A
                  sz: "5.0"
                  timestamp: 1681247412573
                  triggerCondition: N/A
                  triggerPx: "0.0"
            userRateLimit:
              value:
                cumVlm: "2854574.593578"
                nRequestsUsed: 2890
                nRequestsCap: 2864574
            maxBuilderFee:
              value: 1
            subAccounts:
              value:
                - name: Test
                  subAccountUser: "0x035605fc2f24d65300227189025e90a0d947f16c"
                  master: "0x8c967e73e6b15087c42a10d344cff4c96d877f1d"
                  clearinghouseState:
                    marginSummary:
                      accountValue: "29.78001"
                      totalNtlPos: "0.0"
                      totalRawUsd: "29.78001"
                      totalMarginUsed: "0.0"
                    crossMarginSummary:
                      accountValue: "29.78001"
                      totalNtlPos: "0.0"
                      totalRawUsd: "29.78001"
                      totalMarginUsed: "0.0"
                    crossMaintenanceMarginUsed: "0.0"
                    withdrawable: "29.78001"
                    assetPositions: []
                    time: 1733968369395
                  spotState:
                    balances:
                      - coin: USDC
                        token: 0
                        total: "0.22"
                        hold: "0.0"
                        entryNtl: "0.0"
            userVaultEquities:
              value:
                - vaultAddress: "0xdfc24b077bc1425ad1dea75bcb6f8158e10df303"
                  equity: "742500.082809"
            userRole:
              value: { role: user }
            userFees:
              value:
                dailyUserVlm:
                  - date: "2025-05-23"
                    userCross: "0.0"
                    userAdd: "0.0"
                    exchange: "2852367.0770729999"
                userCrossRate: "0.000315"
                userAddRate: "0.000105"
                userSpotCrossRate: "0.00049"
                userSpotAddRate: "0.00028"
                activeReferralDiscount: "0.0"
                trial: null
                feeTrialReward: "0.0"
                nextTrialAvailableTimestamp: null
            delegations:
              value:
                - validator: "0x5ac99df645f3414876c816caa18b2d234024b487"
                  amount: "12060.16529862"
                  lockedUntilTimestamp: 1735466781353
            delegatorSummary:
              value:
                delegated: "12060.16529862"
                undelegated: "0.0"
                totalPendingWithdrawal: "0.0"
                nPendingWithdrawals: 0
            userDexAbstraction:
              value: true
  examples:
    UserFillsResponse:
      value:
        fills:
          - coin: BTC
            px: "100000.0"
            sz: "0.01"
            side: B
            time: 1780000000000
            tid: 12345
            oid: 54321
            closedPnl: "0"
            fee: "0.20"
            feeToken: USDC
    UserFillsByTimeResponse:
      value:
        fills:
          - coin: BTC
            px: "100000.0"
            sz: "0.01"
            side: B
            time: 1780000000000
            tid: 12345
        nextCursor: optional-cursor
    HistoricalOrdersResponse:
      value:
        orders:
          - orderId: "54321"
            coin: BTC
            side: B
            limitPx: "100000.0"
            sz: "0.10"
            status: filled
            timestamp: 1780000000000
    ClearinghouseStateResponse:
      value:
        marginSummary:
          accountValue: "1000.00"
          totalMarginUsed: "100.00"
        assetPositions:
          - position:
              coin: BTC
              szi: "0.10"
              entryPx: "99000.0"
              unrealizedPnl: "100.0"
    PortfolioStateResponse:
      value:
        user: "0x1111111111111111111111111111111111111111"
        asOf: 1780000000000
        perpetual:
          accountValue: "1000.00"
          positions: []
        spot:
          balances: []
        margin:
          totalMarginUsed: "100.00"
    ExtraAgentsResponse:
      value:
        user: "0x1111111111111111111111111111111111111111"
        agents:
          - address: "0x4444444444444444444444444444444444444444"
            name: market-maker
            permissions: [trade]
    L2BookDiffSnapshotResponse:
      value:
        height: 123456
        books:
          - coin: BTC
            time: 1780000000000
            levels:
              - - px: "100000.0"
                  sz: "1.25"
                  n: 3
              - - px: "100001.0"
                  sz: "0.80"
                  n: 2
            seq: 42
